VITE_BACKEND_URL=https://api.terawallet.app
VITE_CHAIN_ID=4663
VITE_RPC_URL=https://rpc.mainnet.chain.robinhood.com
VITE_WALLETCONNECT_PROJECT_ID=
VITE_EXPLORER_URL=https://robinhoodchain.blockscout.com
